.wrapper{
    min-height: calc(100vh - 72px);
    top: 72px;
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}
.container{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-grow: 1;
    max-width: 100%;
    overflow-x: hidden;

    @media (max-width: 960px) {
        padding: 0.5rem;
        gap: 0.5rem;
    }

    @media (max-width: 440px) {
        padding: 0.25rem;
    }
}
.page_body{
    flex: 1;
    min-width: 0;
    overflow-x: hidden;
}
